@font-face {
  font-family:  'lakeshore';
  src: url('fonts/LAKESHOR-webfont.eot');
  src: url('fonts/LAKESHOR-webfont.eof?#iefix') format('embedded-opentype'),
       url('fonts/LAKESHOR-webfont.woff') format('woff'),
       url('fonts/Airstream-webfont.ttf') format('truetype'),
       url('fonts/LAKESHOR-webfont.svg#lakeshore') format('svg');
     font-style: normal;
     font-weight: normal;
}

html, body {
  height: 100%;
}

body {
  background: rgb(149, 194, 215);
  font-size: 20px;
}

a{
  text-decoration: none;
}

.logo-text {
  background: white;
  font-family: lakeshore;
  font-size: 37px;
  text-align:  center;
  text-transform:  uppercase;
}

.thumbnail-title {
  background: rgb(96, 125, 139);
  color: rgb(202, 238, 255);
  display: block;
  font-size: 28px;
  margin: 0;
  padding: 4px 10px;
}

.thumbnail-image {
  display: block;
  width: 100%;
}

.thumbnail-list {
  list-style: none;
  overflow-x: auto;
  padding: 0;
  white-space: nowrap;
}

.thumbnail-item{
  border:  1px solid rgb(100%, 100%, 100%);
  border:  1px solid rgba(100%, 100%, 100%, 0.8);
  display: inline-block;
  width: 120px;
}

.thumbnail-item + .thumbnail-item{
  margin-top: 10px;
}

.detail-image-container{

}

.detail-image{
  width: 90%
}

.detail-image-title{

}
